*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color: black;
}

#main{
  min-width:350px;
  width: 200px;
  border: 1px solid skyblue;
  margin: 80px auto 0;
  border-radius: 5px;
  padding: 10px;
  min-height: 500px;
  box-shadow: 10px 13px 100px  rgba(135, 206, 235, 5);
 
}

#main h2{
  color: skyblue;
  margin: 10px 45px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #fff;
  text-decoration: 3px dotted underline skyblue;
}
.calculator{
 margin-top: 7px;
}
.calculator input{
  text-align: end;
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 4px;
  /* background: transparent; */
}
.calculator input:focus{
  border: 3px solid skyblue;
  box-shadow: 0 0 25px rgba(135, 206, 235, 3);
}
/* .calculator button{
  width: 65px;
  height: 30px;
  cursor: pointer;
  border: 2px solid white;
  outline: none;
  border-radius: 4px;
  font-size: 19px;
  font-family: "Dancing Script", cursive;
  background: transparent;
  color: skyblue;
} */

.btns{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}
